SECRET_KEY=change-me
DEBUG=False
DB_NAME=neondb
DB_USER=neondb_owner
DB_PASSWORD=change-me
DB_HOST=example-pooler.neon.tech
DB_PORT=5432
DB_SSL_REQUIRE=True
ALLOWED_HOSTS=.vercel.app,localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=https://todo-list-tc.vercel.app,http://localhost:5173